.cardStatus{
    height: 160px;
    background-color: var(--hover-color);
    border-radius: 12px;
    box-shadow: 7px 7px 11px -4px rgba(0, 0, 0, 0.25);
    max-width: 280px;
}
.icon{
    font-size: 2rem;
    color: var(text-color);
}
.info{
    color: var(--main-color);
}

.counter, 
.title{
    font-size: 1.1rem;
    font-weight: 600;
}
.counter{
    font-size: 2rem;
}